<a href="https://colab.research.google.com/github/Saifullah785/SQL-for-Data-Science/blob/main/Lecture_06_CASE_Statement_SQL_Joins_Subquery/Lecture_06_CASE_Statement_SQL_Joins_Subquery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CASE STATEMENT**

SELECT name,(gross -budget) profit,

CASE

	WHEN (gross-budget) > 100000000 THEN 'SUPER
  
  HIT'
  
    WHEN (gross-budget) > 250000000 AND
    
    (gross-budget)<1000000000 THEN "HIT"
    
    WHEN (gross-budget)> 0 AND (gross-budget)
    
    < 250000000 THEN

'AVERAGE'

	ELSE "FLOP"

END AS verdict

FROM movies

# **JOINS**

**1.Cartesian product**


---



SELECT * FROM users CROSS JOIN groups


SELECT * FROM membership m JOIN users u ON
 m.uid = uid